<div id="books">
  <div class="fixed">
    <div class="row title-row">
      <div class="column medium-4 logo">
        <%= image_tag('si-logo.png', alt:'Smashing Ideas Book Order') %>
      </div>
      <div class="column medium-8 sort-group text-right">
        <ul class="button-group">
          <li><a href="#" class="button tiny sort title" data-sort="title">Title</a></li>
          <li><a href="#" class="button tiny sort category" data-dropdown="categories-list" data-options="align:left">Category</a></li>
          <li><a href="#" class="button tiny sort author" data-sort="author">Author</a></li>
        </ul>
        <div class="cart">
          <a href="#" class="button tiny cart" data-dropdown="order-form" data-options="align:left">
            Order <span class="order-num">0</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="book-list">
    <%= render @books %>
    <script type="text/javascript">
      books = <%= @books.to_json.html_safe %>;
      categories = <%= @categories.to_json.html_safe %>;
    </script>
  </div>
  <div class="f-dropdown content large text-left" id="categories-list" data-dropdown-content>
    <%= render "categories" %>
  </div>
  <div class="order-form f-dropdown content large" id="order-form" data-dropdown-content>
    <div class="row order-header">
      <div class="column small-8">
        Book Order
      </div>
      <div class="column small-4 text-right">
        <span class="order-num">0</span>/7
      </div>
    </div>
    <table class="order-list">
    </table>
    <a href="http://intranet.us.randomhouse.com/empfreeord/index.cfm" class="button small right" target="_blank">Order Form</a>
  </div>
</div>
