<div id="books">:

  <div class="book-list">

    <div>
      <div ng-repeat="book in books | categoryFilter:categories | orderBy:sortBy" class="row book-row" data-category="{{ book.category.name }}">
        <div class="column small-4 medium-2">
          <div><img src="{{ book.image_url }}" /></div>
          <button href="#" class="button tiny add-to-order" ng-click="book.cart = !book.cart">{{ book.cart ? 'Remove from Order' : 'Add to Order' }}</button>
        </div>
        <div class="column small-8 medium-3 book-info">
          <div>
            <a href="{{ book.url }}" class="title" target="_blank">
              {{ book.title }}
            </a>
          </div>
          <div class="isbn">{{ book.isbn }}</div>
          <div class="author">{{ book.author }}</div>
          <div class="category">{{ book.category_full }}</div>
          <div class="format">{{ book.format }}</div>
          <div class="rating">
            <div class="stars" data-stars="{{ book.average_rating | averageRating | number:1 }}">
              <%= icon('star', '', class: 'star-1') %><%= icon('star-half', '', class: 'half-1') %>
              <%= icon('star', '', class: 'star-2') %><%= icon('star-half', '', class: 'half-2') %>
              <%= icon('star', '', class: 'star-3') %><%= icon('star-half', '', class: 'half-3') %>
              <%= icon('star', '', class: 'star-4') %><%= icon('star-half', '', class: 'half-4') %>
              <%= icon('star', '', class: 'star-5') %><%= icon('star-half', '', class: 'half-5') %>
            </div>
          </div>
        </div>
        <div class="column small-12 medium-7 description">
          <div class="inner">
            <div ng-bind-html="book.description"></div>
            <div class="review">
              <div class="review-container"></div>
              <a href="#" class="button tiny review-load" load-review>Load Review</a>
            </div>
          </div>
          <a href="#" class="readmore">Read More</a>
        </div>
      </div>



    </div>
  </div>
</div>
